<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">What We Do</h3>
    Our research focuses on developing and improving machine learning tools used in mammography (breast imaging and diagnosis), so that those in clinical settings can make better decisions. 
    <br><br>
    Many commercialized 'black box' models are incapable of explaining the inner workings of their decision making. This is problematic given the potentially life-changing nature of diagnosis made from mammograms. To help both doctors and patients understand the rationale behind any automated decision, we work on designing <i>inherently </i>interpretable models that produce not only accurate, but also explainable, traceable results. 
    <br><br>
    <img src="{{ site.github.url }}/assets/img/interpretability.jpg" alt="Interpretability" width="100%">

    <br><br>

    One 

    To view more papers, navigate to our <a href="{{ site.github.url }}/publications">publications</a> page. 



  </div>

  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Longer Overview</h3>
    Detailed explanation of the work we've done so far, and where we are headed to. 
  </div>
</div>
