<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <!-- {% if page.title == "Home" %}
      <p>Featured publications:</p>
      {% for item in site.data.publications.featured %}
        <p>{{ item.name }} <b><a href="{{ item.url }}">{{ item.url }}</a></b></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p>{{ item.name }} <b><a href="{{ item.url }}">{{ item.url }}</a></b></p>
      {% endfor %}
    {% endif %} -->
    <h4>Peer-Reviewed Publications</h4>
    {% for item in site.data.publications.index %}
      <p>{{ item.name }} <b><a href="{{ item.url }}">{{ item.url }}</a></b></p>
    {% endfor %}
    <br><br>
    <h4>Papers in Progress</h4>
    {% for item in site.data.publications.working %}
    <p>{{ item.name }} <b><a href="{{ item.url }}">{{ item.url }}</a></b></p>
    {% endfor %}
  </div>
</div>

